.status,
.url {
    display: flex;
    align-items: center;
}



.popup-modal {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.1)), linear-gradient(290.23deg, #83DE74 0%, #ABDE81 100%, #ABDE81 100%);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    max-width: 515px;
    padding: 22px 18px;
}


.status h4,
.url h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.private-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #006400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 9px 20px;
    margin: 0 19px 0 9px;
}

.publish-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #640064;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    color: #FFFFFF;
    padding: 9px 20px;
}

.input-url {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    background: #006400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    outline: none;
    padding: 9px;
    margin-left: 21.4px;
    margin-right: 9px;
}

.copy-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 9px 11px;
    background: #006400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.collaborators-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    background: #006400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 9px 11px;
}

.user-container {
    background: rgba(0, 75, 0, 0.68);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 233.33px;
}




.owner {
    background: rgba(100, 0, 100, 0.8);
    border: 1.5px solid #FFFFFF;
    border-radius: 9px;
    display: flex;
    align-items: center;
    padding: 9px 11px;
}

.user {
    background: rgba(0, 100, 0, 0.75);
    border: 1.5px solid #FFFFFF;
    border-radius: 9px;
    display: flex;
    padding: 9px 11px;
    align-items: center;
}

.owner h6,
.user h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    color: #FFFFFF;
}

.user-icon {
    width: 31px;
    height: 31px;
}

.user-right {
    display: flex;
}

.user-right>img {
    width: 24px;
    height: 24px;
}

.user-add-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.input-user {
    background: rgba(255, 255, 255, 0.66);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 9px 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    outline: none;
    color: rgba(0, 0, 0, 0.5);
}


.user-add-icon {
    width: 40px;
    height: 32px;
    cursor: pointer;
}

.done-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    background: #006400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 7px 11px;
}


@media all and (max-width:375px) {

    .done-btn {
        font-size: 18px;
        line-height: 22px;
    }

    .private-btn {
        font-size: 18px;
        line-height: 22px;
    }

    .publish-btn {
        font-size: 18px;
        line-height: 22px;
    }

    .input-user {
        font-size: 18px;
        line-height: 22px;
    }

    .copy-btn {
        font-size: 18px;
        line-height: 22px;
    }

    .collaborators-btn {
        font-size: 18px;
        line-height: 22px;
    }

    .owner h6,
    .user h6 {
        font-size: 18px;
        line-height: 22px;
    }

    .status h4,
    .url h4 {
        font-size: 18px;
        line-height: 22px;
    }
    .input-url{
        font-size: 18px;
        line-height: 22px;
    }
}